body{
    margin: 80px;
}


.thoughts-main-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.thoughts-img{
    height:470px ;
    width: 380px;
    position: absolute;
    border-radius: 25px;
}


.thoughts-div-1{
    position: relative;
    width: 380px;
    height: 470px;
}

.thoughts-div-1-1{
    position: relative;
    top:240px;
    width: 100%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}



.thoughts-div-1-day{
    margin: 0%;
    font-size: 18px;
}


.thoughts-div-1-diss{
    margin:20px 0px;
    font-size: 35px;
}


.black-box{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 380px;
    height: 470px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 45px;
}

.black-box-diss{
    margin: 0px;
    padding: 20px;
    font-size: 50px;
}


.thoughts-button-div{
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: baseline;
    gap: 40px;
}


.black-box-button{
    margin: 0px;
    padding: 20px;
    height: 20px;
    width: 20px;
}
